.text-box h3:first-child{
    color: pink;
}

#greycol{
    color: grey;
}

.text-box div > p {
    color: red;
}

.text-box p:nth-last-child(2){
    color: green;
}

.yellow {
    color: yellow;
}

.days-lеssons > tr:hover{
    background-color: rgb(45, 29, 189);
    color: white;
}

.days{
    border-collapse: collapse;
}

.days th
.days td {
    padding: 8px;
    border: 1px solid black;
}